<form id="searchform" action="/search/">
  <svg viewBox="0 0 16 16" height="16" width="16" style="vertical-align: middle;">
    <g transform="translate(0 -1036.4)">
      <ellipse style="color-rendering:auto;color:#000000;shape-rendering:auto;solid-color:#000000;stroke:#fff;stroke-width:2;fill:none;" rx="5.0368" ry="5.0368" cy="1042.4" cx="9.9632"></ellipse>
      <path style="stroke:#fff;stroke-width:3;fill:none" d="m1.0607 1051.3 5.114-5.114"></path>
    </g>
  </svg>
  <input type="text" class="searchbox" name="q" id="tipue_search_input" placeholder="search">
</form>