{{ define "main" }}

  {{ partial "lede/bg" (print "/images/ledes/" .Params.lede) }}

  {{ partial "lede/author" . }}

  <section class="page">

    <div class="container title">
      <div class="row">
        <div class="column">
          <h1 class="page-title">{{ .Title }}</h1>
        </div>
      </div>
    </div>

    <div class="container content">
      <div class="subnav">
        <div>
          {{ range .Pages }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
      </div>

      <div class="row">
        <div class="column">
          {{ .Content }}
        </div>
      </div>

    </div>

  </section>



{{ end }}