<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" itemscope itemtype="http://schema.org/WebSite">
    <head>
        {% block head %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title itemprop='name'>{% block title %}{{ SITENAME }}{% endblock title %}</title>


        {# <!-- OpenGraph/Twitter/Schema Stuff
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@darktable_org">

        <meta itemprop="name" content="darktable - the photo workflow software">
        <meta name="twitter:title" content="darktable - the photo workflow software">
        <meta property="og:title" content="darktable - the photo workflow software" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="darktable.org" />
        <meta itemprop="headline" content="darktable - the photo workflow software" />

        <meta itemprop="image" content="{{ SITEURL }}/theme/images/darktable_skull+logo.png">
        <meta property="og:image" content="{{ SITEURL }}/theme/images/darktable_skull+logo.png">
        <meta name="twitter:image" content="{{ SITEURL }}/theme/images/darktable_skull+logo.png">

        <meta itemprop="description" content="darktable is an open source photography workflow application and raw developer.">
        <meta property="og:description" content="darktable is an open source photography workflow application and raw developer.">
        <meta name="twitter:description" content="darktable is an open source photography workflow application and raw developer.">

        <meta name="twitter:creator" content="@darktable_org">

        <meta property="og:url" content="{{ SITEURL }}" />
        <meta property="url" content="{{ SITEURL }}" />


        <link rel="canonical" href="{{ SITEURL }}" itemprop="url">
        <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" />

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/skeleton.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/darktable.css">

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        {% endblock head %}

    </head>

<body>

    <nav id="menu" class="home">
        <ul>
            <li><a href='{{ SITEURL }}/news/'>news</a></li>
            <li><a href='{{ SITEURL }}/blog/'>blog</a></li>
            <li><a href='{{ SITEURL }}/about/'>about</a></li>
            <li><a href='{{ SITEURL }}/install/'>install</a></li>
            <li><a href='{{ SITEURL }}/resources/'>resources</a></li>
            <li><a href='{{ SITEURL }}/development/'>development</a></li>
            <li><a href='{{ SITEURL }}/contact/'>contact</a></li>
            <li>
                <form id="searchform" action="{{ SITEURL }}/search.html">
                    <svg viewBox="0 0 16 16" height="16" width="16" style="vertical-align: middle;">
                         <g transform="translate(0 -1036.4)">
                          <ellipse style="color-rendering:auto;color:#000000;shape-rendering:auto;solid-color:#000000;stroke:#fff;stroke-width:2;fill:none;" rx="5.0368" ry="5.0368" cy="1042.4" cx="9.9632"></ellipse>
                          <path style="stroke:#fff;stroke-width:3;fill:none" d="m1.0607 1051.3 5.114-5.114"></path>
                         </g>
                    </svg>
                    <input type="text" class="searchbox" name="q" id="tipue_search_input" placeholder="search">
                </form>
            </li>
        </ul>
    </nav>

    <section class='home lede-bg'>
        <img src='{{ SITEURL }}/theme/images/lede-home.jpg' alt='darktable page lede image'>
    </section>

    <section class='home-project'>
        {# <img id="home-lede" src="{{ SITEURL }}/theme/images/lede-home.jpg"> #}

        <div id='home-logo'>
            <img src='{{ SITEURL }}/theme/images/darktable-logo-name-1520w.png'>
        </div>

        <div class='container content description'>
            <div class='row'>
                <div class='column'>
                    <p>darktable is an open source photography workflow application and raw developer. A virtual lighttable and darkroom for photographers. It manages your digital negatives in a database, lets you view them through a zoomable lighttable and enables you to develop raw images and enhance them.</p>
                    <p>Have a look at our current <a href="{{ SITEURL }}/about/features/" title="features">features</a> and how to <a href="{{ SITEURL }}/install/" title="install">install</a> it on your system.</p>
                </div>
            </div>
        </div>

    </section>

    <section class='screenshot'>
        <img src='{{ SITEURL }}/about/screenshots/screenshot_lighttable.jpg' width='1440' height='900'>
    </section>

    <section class='description'>

        <div class="container title">
            <div class="row">
                <div class="column">
                    <h2 class="desc-title">by photographers</h2>
                </div>
            </div>
        </div>
        <div class='container content feature'>
            <div class='row'>
                <div class='column'>
                    <p>
                        darktable is created <em>for photographers, by photographers</em>.
                    </p>
                    <p>
                    Mention that having (photographer) developers as part of the target audience is good for understanding the real world problems, challenges, and workflows.
                    </p>
                </div>
            </div>
        </div>


        <div class="container title">
            <div class="row">
                <div class="column">
                    <h2 class="desc-title">powerful</h2>
                </div>
            </div>
        </div>
        <div class='container content feature'>
            <div class='row'>
                <div class='column'>
                    <p>
                    Something about capability - highlight about some <a href="{{ SITEURL }}/about/features/" title="darktable Features">big important features</a>!  Maybe mention flexibility here (ease of writing new modules).
                    </p>
                </div>
            </div>
        </div>


        <div class="container title">
            <div class="row">
                <div class="column">
                    <h2 class="desc-title">community</h2>
                </div>
            </div>
        </div>
        <div class='container content feature'>
            <div class='row'>
                <div class='column'>
                    <p>
                    Something about community, <a href="{{ SITEURL }}/contact/#how-to-get-in-contact" title="How to get in contact">mailing list</a>, maybe <a href="https://discuss.pixls.us/c/software/darktable" title="darktable Category on PIXLS.US">discuss forum</a>, and the <a href="https://www.flickr.com/groups/1284326@N23/" title="darktable Flickr Group">Flickr</a> page?
                    Number of contributors (indicate health of the project and users).
                    Some other metric of vitality of the community (possibly <a href="https://github.com/darktable-org" title="darktable Repository on Github">how to get involved</a>)?
                    </p>
                </div>
            </div>
        </div>

    </section>

    {#
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock %}
    #}

    {% include "footer.html" %}
</body>
</html>
