{% extends "base.html" %}

{% block title %}
        <title  itemprop='name'>tag: {{ tag |striptags }} | {{ SITENAME }}</title>
{% endblock title %}

{%block metadata %}
        {# <!-- OpenGraph/Twitter/Schema Stuff
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@darktable_org">

        <meta itemprop="name" content="tag: {{ tag.name |striptags }}" >
        <meta name="twitter:title" content="tag: {{ tag.name |striptags }}" >
        <meta property="og:title" content="tag: {{ tag.name |striptags }}" >
        <meta itemprop="headline" content="tag: {{ tag.name |striptags }}" >

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="darktable.org">

        {% if tag.date %}
        <meta itemprop="datePublished" content="{{ tag.date }}" />
        <meta property="og:published_time" content="{{ tag.date }}" />
        {% endif %}

        {% if tag.lede %}
        <meta itemprop="image" content="{{ SITEURL }}/{{ tag.url }}{{ tag.lede }}">
        <meta property="og:image" content="{{ SITEURL }}/{{ tag.url }}{{ tag.lede }}">
        <meta name="twitter:image" content="{{ SITEURL }}/{{ tag.url }}{{ tag.lede }}">
        {% elif tag.wordpress_lede %}
        <meta itemprop="image" content="{{ SITEURL }}/{{ tag.url }}{{ tag.wordpress_lede }}">
        <meta property="og:image" content="{{ SITEURL }}/{{ tag.url }}{{ tag.wordpress_lede }}">
        <meta name="twitter:image" content="{{ SITEURL }}/{{ tag.url }}{{ tag.wordpress_lede }}">
        {% else %}
        {# Don't forget to change this if it gets changed below #}
        <meta itemprop="image" content="{{ SITEURL }}/images/ledes/lede-about.jpg">
        <meta property="og:image" content="{{ SITEURL }}/images/ledes/lede-about.jpg">
        <meta name="twitter:image" content="{{ SITEURL }}/images/ledes/lede-about.jpg">
        {% endif %}

        {% if tag.summary %}
        <meta itemprop="description" content="{{ tag.summary |striptags }}">
        <meta property="og:description" content="{{ tag.summary |striptags }}">
        <meta name="twitter:description" content="{{ tag.summary |striptags }}">
        {% else %}
        <meta itemprop="description" content="Posts tagged '{{ tag.name }}' on darktable.org">
        <meta property="og:description" content="Posts tagged '{{ tag.name }}' on darktable.org">
        <meta name="twitter:description" content="Posts tagged '{{ tag.name }}' on darktable.org">
        {% endif %}

        {% if tag.author_twitter %}
        <meta name="twitter:creator" content="{{ tag.author_twitter }}">
        {% else %}
        <meta name="twitter:creator" content="@darktable_org">
        {% endif %}

        {% if tag.canonical %}
        <link rel="canonical" href="{{ tag.canonical }}" itemprop="url">
        <meta property="og:url" content="{{ tag.canonical }}" />
        <meta property="url" content="{{ tag.canonical }}" />
        {% else %}
        <link rel="canonical" href="{{ SITEURL }}/{{ tag.url }}" itemprop="url">
        <meta property="og:url" content="{{ SITEURL }}/{{ tag.url }}" />
        <meta property="url" content="{{ SITEURL }}/{{ tag.url }}" />
        {% endif %}
{%endblock metadata %}


{% block header %}
    <section class='lede-bg'>
        <img src='{{ SITEURL }}/images/ledes/lede-about.jpg'>
    </section>
    <section class='lede tag'>
        <img class='lede-img' src='{{ SITEURL }}/images/ledes/lede-about.jpg'>
    </section>
{% endblock header %}

{% block content %}

    <section class='category'>
        <div class='container title'>
            <div class='row'>
                <div class='column'>
                    <h1 class='page-title'>tag: {{ tag }}</h1>
                </div>
            </div>
        </div>

        <div class='container content'>
            <div class='row'>
                <div class='column'>

                    {% for article in articles_page.object_list %}

                    <article>
                        <section class='article-lede'>
                        </section>

                        <section class='content'>

                            <h1 class='entry-title'>
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                                    {{ article.title }}
                                </a>
                            </h1>

                            <div class='post-info'>
                                posted on
                                <time class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                                <address class="vcard author">by
                                    {% for author in article.authors %}
                                    {% if author|string in AUTHORS and AUTHORS.get(author|string).displayname %}
                                    <a class="url fn" rel='author' href="{{ SITEURL }}/{{ author.url }}">{{ AUTHORS.get(author|string).displayname }}</a>
                                    {% else %}
                                    <a class="url fn" rel='author' href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </address>

                            </div>

                            <div class='entry-content'>
                                {% if article.summary %}
                                {{ article.summary }}
                                {% else %}
                                {{ article.content|truncate() }}
                                {% endif %}
                                <p>
                                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                                        Continue Reading &rarr;
                                    </a>
                                    </p>
                            </div>
                        </section>

                    </article>

                    <hr/>

                    {% endfor %}
                    {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

{% endblock content %}
