{% extends "base.html" %}

{% block head %}
{{ super() }}

<title>{% block title %}{{ article.title |striptags|lower }} | {{ SITENAME }}{% endblock title %}</title>

{% endblock head %}


{% block header %}
    {# If you're wondering about wordpress_lede, it's been moved down
        into the article content section (assuming they're smaller than
        normal lede items. #}
    {% if article.lede %}
    <section class='lede'>
        <img class='lede-img' src='{{ article.lede }}'>
    </section>
    {% else %}
    <section class='lede'>
        {# If we want to use a 'default' lede image, define it here #}
        {# <img class='lede-img' src='/theme/images/lede-about.jpg'> #}
        &nbsp;
    </section>
    {% endif %}
{% endblock header %}

{% block content %}

    <section class='article'>

        <div class='container content'>
            <div class='row'>
                <div class='column'>

                    {% if article.wordpress_lede %}
                    <img class='lede-img' src='{{ article.wordpress_lede }}'>
                    {% endif %}

                    <h1 class='article-title'>{{ article.title |striptags|lower }}</h1>

                    <div class='post-info'>
                        posted on 
                        <time class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                        <address class="vcard author">by
                            {% for author in article.authors %}
                            <a class="url fn" rel='author' href="/{{ author.url }}">{{ author }}</a> 
                            {% endfor %}
                        </address>
                    </div>

                    {% block data %}
                    {{ article.content }}
                    {% endblock data %}

                    <small>
                    Filed under: 
                    {% for tag in article.tags %}
                    <a href='/{{ tag.url }}'>{{ tag }}</a>
                    {% endfor %}
                    </small>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
