{% extends "base.html" %}

{% block title %}
        <title itemprop='name'>{{ article.title |striptags|lower }} | {{ SITENAME }}</title>
{%endblock title%}


{%block metadata %}
        {# <!-- OpenGraph/Twitter/Schema Stuff
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@darktable_org">

        <meta itemprop="name" content="{{ article.title |striptags|lower }}" >
        <meta name="twitter:title" content="{{ article.title |striptags|lower }}" >
        <meta property="og:title" content="{{ article.title |striptags|lower }}" >
        <meta itemprop="headline" content="{{ article.title |striptags|lower }}" >

        <meta property="og:type" content="article">
        <meta property="og:site_name" content="darktable.org">

        {% if article.author %}
        <meta itemprop="author" content="{{ article.author }}" />
        <meta property="og:author" content="{{ article.author }}" />
        {% endif %}

        {% if article.date %}
        <meta itemprop="datePublished" content="{{ article.date }}" />
        <meta property="og:published_time" content="{{ article.date }}" />
        {% endif %}

        {% if article.lede %}
        <meta itemprop="image" content="{{ SITEURL }}/{{ article.url }}{{ article.lede }}">
        <meta property="og:image" content="{{ SITEURL }}/{{ article.url }}{{ article.lede }}">
        <meta name="twitter:image" content="{{ SITEURL }}/{{ article.url }}{{ article.lede }}">
        {% elif article.wordpress_lede %}
        <meta itemprop="image" content="{{ SITEURL }}/{{ article.url }}{{ article.wordpress_lede }}">
        <meta property="og:image" content="{{ SITEURL }}/{{ article.url }}{{ article.wordpress_lede }}">
        <meta name="twitter:image" content="{{ SITEURL }}/{{ article.url }}{{ article.wordpress_lede }}">
        {% else %}
        <meta itemprop="image" content="{{ SITEURL }}/theme/images/darktable_skull+logo.png">
        <meta property="og:image" content="{{ SITEURL }}/theme/images/darktable_skull+logo.png">
        <meta name="twitter:image" content="{{ SITEURL }}/theme/images/darktable_skull+logo.png">
        {% endif %}

        {% if article.summary %}
        <meta itemprop="description" content="{{ article.summary |striptags }}">
        <meta property="og:description" content="{{ article.summary |striptags }}">
        <meta name="twitter:description" content="{{ article.summary |striptags }}">
        {% else %}
        <meta itemprop="description" content="darktable is an open source photography workflow application and raw developer.">
        <meta property="og:description" content="darktable is an open source photography workflow application and raw developer.">
        <meta name="twitter:description" content="darktable is an open source photography workflow application and raw developer.">
        {% endif %}

        {% if article.author_twitter %}
        <meta name="twitter:creator" content="{{ article.author_twitter }}">
        {% else %}
        <meta name="twitter:creator" content="@darktable_org">
        {% endif %}

        {% if article.canonical %}
        <link rel="canonical" href="{{ article.canonical }}" itemprop="url">
        <meta property="og:url" content="{{ article.canonical }}" />
        <meta property="url" content="{{ article.canonical }}" />
        {% else %}
        <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" itemprop="url">
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
        <meta property="url" content="{{ SITEURL }}/{{ article.url }}" />
        {% endif %}


{%endblock metadata %}


{% block header %}
    {# If you're wondering about wordpress_lede, it's been moved down
        into the article content section (assuming they're smaller than
        normal lede items. #}
    {% if article.lede %}
    <section class='lede'>
        <img class='lede-img' src='{{ article.lede }}' alt='darktable article lede image'>
        {% if article.lede_author %}
          <div class="lede-author">{{ article.lede_author }}</div>
        {% endif %}
    </section>
    {% else %}
    <section class='lede default'>
        {# If we want to use a 'default' lede image, define it here #}
        {# <img class='lede-img' src='/theme/images/lede-about.jpg'> #}
        {# Also change the styling on section.lede.default to remove the 50px margin #}
    </section>
    {% endif %}
{% endblock header %}

{% block content %}

    <section class='article'>

        <div class='container content'>
            <div class='row'>
                <div class='column'>

                    {% if article.wordpress_lede %}
                    <img class='lede-img' src='{{ article.wordpress_lede }}'>
                    {% endif %}

                    <h1 class='article-title'>{{ article.title |striptags }}</h1>

                    <div class='post-info'>
                        posted on
                        <time class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                        <address class="vcard author">by
                            {% for author in article.authors %}
                            <a class="url fn" rel='author' href="/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                        </address>
                    </div>

                    <div class="article-content">
                    {% block data %}
                    {{ article.content }}
                    {% endblock data %}
                    </div>

                    <small class='clearfix'>
                    Filed under:
                    {% for tag in article.tags %}
                    <a href='/{{ tag.url }}'>{{ tag }}</a>
                    {% endfor %}
                    </small>

                    <p class='social_share'>
                    Share this on: <a href="https://plus.google.com/share?url=https://www.darktable.org/{{ article.url|urlencode }}" target="_blank" title="Share this post on Google+">Google+</a> |
                    <a href="https://twitter.com/intent/tweet?url=https://www.darktable.org/{{ article.url|urlencode }}" target="_blank" title="Share this post on twitter">Twitter</a> |
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.darktable.org/{{ article.url|urlencode }}" target="_blank" title="Share this post on Facebook">Facebook</a>
                    </p>


                </div>
            </div>
        </div>
    </section>

{% endblock content %}
