<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" itemscope itemtype="http://schema.org/WebSite">
    <head>
        {% block head %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        <link rel="icon" href="/images/favicon.png" type="image/png" />

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="/theme/css/normalize.css">
        <link rel="stylesheet" href="/theme/css/skeleton.css">
        <link rel="stylesheet" href="/theme/css/darktable.css">

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        {% endblock head %}

    </head>

<body>

    <nav id="menu">
        <ul>
            <li><a href='/news/'>news</a></li>
            <li><a href='/about/'>about</a></li>
            <li><a href='/blog/'>blog</a></li>
            <li><a href='/install/'>install</a></li>
            <li><a href='/resources/'>resources</a></li>
            <li><a href='/development/'>development</a></li>
            <li><a href='/contact/'>contact</a></li>
        </ul>
    </nav>

    <section class='home-project'>
        <img id="home-lede" src="/theme/images/lede-about.jpg">

        <div id='home-logo'>
            <img src='/theme/images/logo-name-big.png'>
        </div>

        <div class='container content description'>
            <div class-'row'>
                <div class='column'>
                    <p>darktable is an open source photography workflow application and raw developer. A virtual lighttable and darkroom for photographers. It manages your digital negatives in a database, lets you view them through a zoomable lighttable and enables you to develop raw images and enhance them.</p>
                </div>
            </div>
        </div>

    </section>

    <section class='screenshot'>
        <img src='/theme/images/screenshot-1.png'>
    </section>

    <section class='description'>

        <div class="container title">
            <div class="row">
                <div class="column">
                    <h2 class="desc-title">performance</h2>
                </div>
            </div>
        </div>
        <div class='container content feature'>
            <div class-'row'>
                <div class='column'>
                    <p>darktable is an open source photography workflow application and raw developer. A virtual lighttable and darkroom for photographers. It manages your digital negatives in a database, lets you view them through a zoomable lighttable and enables you to develop raw images and enhance them.</p>
                </div>
            </div>
        </div>


        <div class="container title">
            <div class="row">
                <div class="column">
                    <h2 class="desc-title">awesomeness</h2>
                </div>
            </div>
        </div>
        <div class='container content feature'>
            <div class-'row'>
                <div class='column'>
                    <p>darktable is an open source photography workflow application and raw developer. A virtual lighttable and darkroom for photographers. It manages your digital negatives in a database, lets you view them through a zoomable lighttable and enables you to develop raw images and enhance them.</p>
                </div>
            </div>
        </div>


        <div class="container title">
            <div class="row">
                <div class="column">
                    <h2 class="desc-title">by nerds, for nerds</h2>
                </div>
            </div>
        </div>
        <div class='container content feature'>
            <div class-'row'>
                <div class='column'>
                    <p>darktable is an open source photography workflow application and raw developer. A virtual lighttable and darkroom for photographers. It manages your digital negatives in a database, lets you view them through a zoomable lighttable and enables you to develop raw images and enhance them.</p>
                </div>
            </div>
        </div>

    </section>

    {#
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock %}
    #}
</body>
</html>
