{% extends "base.html" %}

{% block head %}
{{ super() }}

<title>{% block title %}{{ page.title |striptags|lower }} | {{ SITENAME }}{% endblock title %}</title>

{% endblock head %}


{% block header %}
    <section class='lede'>
        <img class='lede-img' src='/theme/images/lede-about.jpg'>
    </section>
{% endblock header %}

{% block content %}

    <section class='page'>
        <div class='container title'>
            <div class='row'>
                <div class='column'>
                    <h1 class='page-title'>{{ page.title |striptags|lower }}</h1>
                </div>
            </div>
        </div>

        <div class='container content'>

            <div class='subnav'>
            {% set curtitle = page.title %}
            {% for page in pages|sort(attribute='url') %}
                {% if page.url.startswith( curtitle ) and ( page.url != curtitle+"/" ) %}
                <a href="/{{ page.url }}">{{ page.title |striptags|lower }}</a> 
                {% endif %}
            {% endfor %}
            </div>

            <div class='row'>
                <div class='column'>
                    {% block data %}
                    {{ page.content }}
                    {% endblock data %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
