<div>
	<div class="cato" id="{{ .Get 0 }}" ondragstart="return false">
		<div draggable="false" style="background-image:url('{{ partial "thumbnail" (dict "Page" .Page "img" (.Get 2) "width" "960") }}')"></div>
		<div draggable="false" style="background-image: url('{{ partial "thumbnail" (dict "Page" .Page "img" (.Get 1) "width" "960") }}');"></div>
		<div class="cato_divider"></div><img draggable="false" src="{{ partial "thumbnail" (dict "Page" .Page "img" (.Get 1) "width" "960") }}">
		<div>
			<p><a href="{{ .Get 1 }}">{{ .Get 3 }}</a></p>
		</div>
		<div>
			<p class="cato_right"><a href="{{ .Get 2 }}">{{ .Get 4 }}</a></p>
		</div>
	</div>
	<script type="text/javascript">
	  createSlider("{{ .Get 0 }}");
	</script>
</div>
&nbsp;